body {
    background: #000;
    max-width: 1424px;
    margin: 0 auto;
}

div {
    position: relative;
    line-height: 25px;
}

h1{
    font-family: 'Aladin', cursive;
    font-size: 75pt;
    padding: 0;
    margin:0; 
}

h2{
    font-family: 'Aladin', cursive;
    font-size: 25pt;
    padding-bottom: 10px;
    color: #fff;
    margin-bottom: 10px; 
}

.h2-reverse {
    color: #fff;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10pt;
}

img{
 width: 100%;
}

a{
    color: #cccccc;
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
}

li {
    margin-bottom: 15px; 
    font-family: 'Josefin Sans', sans-serif;
}

.stats{
    position: absolute;
    right: 40px;
    bottom: 30px;
    width: 250px;
    background: #363636;
    opacity: 0.8;
    border-radius: 6px;
    color: #cccccc;
    padding: 20px 20px 20px 30px;
}

.title {
position: absolute;
top: 10%;
left: 30px;
color: #fff;
}

.content-wrapper {
    padding: 60px;
    background: #000;
    margin-top: -20px; 
}

.bio{
    color: #fff;
    float: left;
    width: 40%;
    padding-right: 20px;
    margin-right: 30px; 
}

.achievements{
    color: #fff;
    padding-left: 10px;
    float: right;
    width: 50%;
    background: #363636;
    opacity: 0.8;
    border-radius: 6px;
    color: #fff;
    padding: 20px 20px 20px 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
